html {
	margin: 0;
	padding: 0;
	}

body {
    color: #ecf0f1;
    background: #2c3e50;
    background-size: 100%;
    width: auto;
}
header {
    background-color: #34495e, 0;
    position: fixed;
    margin-top: 0%;
    margin-right: 5%;
    width: 95%;
    font-family: raleway;
    opacity: .6;
}
header h1 {
    /*font-size: 700%;*/
    text-align: right;
    font-weight: bold;
}
header h2{
    text-align: right;
    /*font-size: 300%;*/
    font-weight: normal;
}
.intro {
    
}
.summmary {
    background: url(pictures/lpd%20modified.jpg)
    margin-right: 25%;
    margin-left: 10%;
    
}